@inherits LayoutComponentBase

<PageTitle>Library</PageTitle>

<div class="page">
    <div class="topbar">
        <a class="nav-button" href="">Home</a>
        <a class="nav-button" href="genrespage">Genre</a>
        <a class="nav-button" href="bookList">Book List</a>
        <a class="nav-button" href="login">Login</a>
        <a class="nav-button" href="signin">Sign in</a>

        <div class="profile-circle"></div>  <!-- Hier der runde Kreis -->
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
