@inherits LayoutComponentBase

<PageTitle>Library</PageTitle>

<div class="page">
    <div class="topbar">
        <a class="nav-button" href="">Home</a>
        <a class="nav-button" href="genrespage">Books</a>
        <a class="nav-button" href="bookList">Your book list</a>
        <a class="nav-button" href="login">Sign in</a>

        <div class="profile-circle"></div>  <!-- Der runde Kreis -->
    </div>

    <div class="page-content"> <!-- NEU: eigener Bereich für Seiteninhalt -->
        <main>
            <div class="top-row px-4">
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>
